/* RESET (reinicio) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


body {
    scroll-behavior: smooth;
}


/* HEADER (encabezado) */
header {
    background: #140255;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    color: white;
}


nav ul {
    list-style: none;
    display: flex;
}


nav ul li {
    margin-left: 20px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}


nav ul li a:hover {
    color: #06135f;
}


/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(135deg, #012944, #510491b2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 80px;
}


.hero img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid white;
}


.hero button {
    padding: 10px 20px;
    background: white;
    color: #31036e;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}


.hero button:hover {
    background: #022c7a;
    color: white;
}


/* SECTIONS (sobre las secciones) */
.section {
    padding: 80px 50px;
    text-align: center;
}


.dark {
    background: #053455;
    color: white;
}


/* SKILLS (habilidades) */
.skills {
    max-width: 600px;
    margin: 20px auto;
}


.bar {
    background: #f5faf9;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}


.progress {
    height: 10px;
    border-radius: 10px;
}


.html { 
    width: 95%; 
    background: #690202;
}


.css { 
    width: 85%; 
    background: #4f0792;
}


.js { 
    width: 75%; 
    background: #ffd633;
}


/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}


.card:hover {
    transform: translateY(-5px);
}


/* CSS del FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
